/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require social-share-button
 */

body { padding-top: 70px; font-family: 'Lato', sans-serif; }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    
}
p, div {
    font-family: 'Lato', sans-serif;
   
}

.nav {
	font-family: 'Open-sans', sans-serif;
}

.header-pic {
	width: 100%;
}

.above-pic {

	position: absolute;
	z-index: 75;
}



body {
	background-color: #F4F4F4;
}

p, div {
	color: black;
}

h1, h2, h3, h4, h5, h6 {
	color: black;
}



a {
  color: black;

  text-decoration: none;
  letter-spacing: 0.1em;
  position: relative;
}

a:hover {
	text-decoration: none !important;
	color: black;
}


a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after { 
  width: 100%; 
  left: 0; 
}


hr {
	border-color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}
p, div {
    font-family: 'Lato', sans-serif;
   	
}

i {
	cursor: pointer;
}

.signed-in-body {
	background-color: #F4F4F4;
		background-size: 100% 100%;
   		background-repeat: no-repeat;
		background-attachment: fixed;
}
.not-signed-in-body {
	background-color: #F4F4F4;
		background-size: 100% 100%;
   		background-repeat: no-repeat;
		background-attachment: fixed;
}

.first-buttons {
	margin-left: 60%;
	margin-top: 10%;
}

.intro-info {
	opacity: 0.85;
    filter: alpha(opacity=85);
    background-color: black;
    height: 350px;
    padding-left: 20px;
    padding-top: 10px;
    color: white;
    border-style: solid;
    border-color: darkgray;
    border-width: 1px;
}

.indent-1 {
	margin-left: 50px;
}

.indent-2 {
    color: black;
}

.first-half {
	color: #000;
	font-size: 40px;
}

.second-half {
	color: #34495e;
	font-size: 30px;
}



@media only screen and (max-width: 1199px) {
.overeverything {
        display: none;
}

}






.left-info-border {
	border-left-style: solid;
	border-width: 2px;
	padding-left: 10px;
	border-color: #660000;
}

.overeverything {
	z-index: 20;
	padding: 10px;
	background-color: #bdc3c7;
	width: 100%;
	color: #2c3e50;
}

.fix-side-bar {
	position: fixed;
}



.recent-activity {
	text-align: center;
	font-size: 20px;
}

.box-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}
.box-shadow--3dp {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12)
}
.box-shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}
.box-shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}
.box-shadow--8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
}
.box-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}

.avatar-border {
	border-style: solid;
	border-width: 1px;
	padding: 0px;
	padding: 3px;
	width: 160px;
	background-color: lightgray;
	border-color: darkgray;
}

@media only screen and (max-width: 1199px) {
.overeverything {
        display: none;
}

}

.audio-around {
	border-style: solid;
	border-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	height: 125px;
	background-color: #2980b9;
	background-size: 100% 100%;
	border-color:#7DBEBE;
}

.audio-widget {
	width: 100%;
	background-color: black;
	border-radius: 2px;
  
}

.song-content {
	padding-left: 20px;
	color: #212121;
}

.follow-btn {
	margin-right: 75px;
	float: right;
}

.stats {
	font-size: 17px;
}

.follower-name {
	font-size: 20px;

}

.top-btns {
	margin-top: -20px;
	margin-left: 475px;
	float: left;
}

.top-btns-2nd {
	margin-top: -20px;
	margin-left: 415px;
	float: left;
}

.top-btns-middle {
	margin-top: -20px;
	margin-left: 465px;
	float: left;
}

.song-btns {
	margin-top: 55%;
	font-size: 20px;
}

.song-btn-space {
	margin-left: 5px;
	margin-right: 5px;
}

.js-show-likes {
	cursor: pointer;
}

.sc-form {
	border-left-style: solid;
	border-width: 1px;
	height: 350px;
	border-color: lightgray;
}

a.soundcloud-btn:hover:after {
	text-decoration: none;
	width: 0%;
}


/*											*/

 /*  @import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700);

     

      #spn {
          border:2px solid transparent;
          border-top:2px solid transparent;
          border-bottom:2px solid transparent;
          box-shadow: -3px -3px 0px rgba(0, 0, 0, 0.2);
          border-style:solid;
          position:relative;
          border-radius: 50%;
          width: 90px;
          height: 90px;
          margin-left: auto;
          margin-right: auto;
          -webkit-animation: spn 2s infinite linear;
          -moz-animation: spn 2s infinite linear;
          -o-animation: spn 2s infinite linear;
          animation: spn 2s infinite linear;
      }


      #spn:after {
          content: "";
          position: absolute;
          width: 30px;
          height: 30px;
          border: 2px solid #666;
          border:2px solid transparent;
          border-top:2px solid transparent;
          border-bottom:2px solid transparent;
          box-shadow: -3px -3px 0px rgba(0, 0, 0, 0.2);
          border-style: solid;
          margin: 0 auto;
          margin: 28px -17px 85px;
          border-radius: 50%;
          -webkit-animation: spn_ 1s infinite linear;
          -moz-animation: spn_ 1s infinite linear;
          -o-animation: spn_ 1s infinite linear;
          animation: spn_ 1s infinite linear;
      }

      .loading {
          color: rgba(0, 0, 0, 0.3);
          -webkit-animation: load 2s infinite linear;
          -moz-animation: load 2s infinite linear;
          -o-animation: load 2s infinite linear;
          animation: load 2s infinite linear;
      }

      @-webkit-keyframes spn {
          from {-webkit-transform: rotate(0deg); -moz-transform: rotate(0deg);}
          to {-webkit-transform: rotate(-360deg); -moz-transform: rotate(-360deg);}
      }

      @keyframes spn {
          from {-webkit-transform: rotate(0deg); -moz-transform: rotate(0deg);}
          to {-webkit-transform: rotate(-360deg); -moz-transform: rotate(-360deg);}
      }

     @-webkit-keyframes spn_ {
          from {-webkit-transform: rotate(0deg); -moz-transform: rotate(0deg);}
          to {-webkit-transform: rotate(720deg); -moz-transform: rotate(720deg);}
      }

      @keyframes spn_ {
        from {-webkit-transform: rotate(0deg); -moz-transform: rotate(0deg);}
        to {-webkit-transform: rotate(720deg); -moz-transform: rotate(720deg);}
      }

      @-moz-keyframes load {  
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
        100% { opacity: 1.0; }
     }

     @-webkit-keyframes load {  
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
        100% { opacity: 1.0; }
      }

     @keyframes load {  
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
        100% { opacity: 1.0; }
      }
*/

.btn-space {
	margin-left: 10px;
}

.dark-underline {
	border-color: teal;
}

.playlist-list {
	display: inline;
	margin-left: 20px;
}

.playlist-track-item {
	color: black;
}

.playlist-track-item:hover {
	text-decoration: none;
	color: black;
}

.playlist-track-item:hover:after {
	width: 0px;
}

.playlist-title:hover {
	color: black;
	text-decoration: none;
}

.playlist-title {
	color: black;
	text-decoration: none;
}

.social-share-button-twitter:hover:after {
  width: 0px;

}

.tag-btns {
  float: right;
  margin-top: 20px;
  border-width: 0px !important;
  background-color: #2c3e50 !important;
  color: white !important;
}

.btn {
  border-radius: 0px !important;
}

.tag-btns:hover {
  background-color: #2c3e50 !important;
}









