		<div class="tag-section">
			<button class="btn btn-default btn-xs tag-btns btn-space">Light Vocals</button>
			<button class="btn btn-default btn-xs tag-btns btn-space">Emotional</button>
			<button class="btn btn-default btn-xs tag-btns btn-space">Dream-scape</button>
			<button class="btn btn-default btn-xs tag-btns">Inaudible</button>

		</div>