		<div class="tag-section">
				<% track.tags.all do |y| %>
					<button class="btn btn-default btn-xs tag-btns btn-space" type="submit" data-id="<%= y.id %>"><%= y.characteristic %></button>
			<% end %>
			
			

		</div>