
	
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
					<span class="first-half">Aim</span><span class="second-half">uzer</span>

					<br>
						<span style="color: black;">Let's Discover, Together</span>
						<span style="margin-left: 39%; font-size: 25px;">Music Stream</span>
					<hr>	
				</div> <!-- col-lg-6 -->
		</div>
	
		<div class="row">

			<div class="js-likes-title">

			</div>

			<div class="col-sm-8 gonna-put-it-on-top-append">

			</div>

			<div class="col-sm-8 gonna-put-it-on-top">
				
				
			
				<%= render 'discover/stream_tracks' %> <!-- USERS PROFILE TRACKS -->

			</div> <!-- col-sm-8 -->






				<!-- =========== FIXED SIDE BAR =========== -->
			<div class="col-sm-4">
				<div class="overeverything box-shadow--16dp">
					<h2 class="text-center">Track Details</h2>
					<hr>
					<div class="js-track-info">
						<h4 class="text-center">Play a track to get more details</h4>
					</div>
					
				</div> <!-- over everything -->
			</div> <!-- col-lg-4 -->
				<!-- =========== FIXED SIDE BAR =========== -->

		</div> <!-- row -->
	</div>