<h1>Discover#stream</h1>
<p>Find me in app/views/discover/stream.html.erb</p>

	
	<div class="container">
		<div class="row">
			<div class="js-likes-title">

			</div>

			<div class="col-sm-8 gonna-put-it-on-top-append">

			</div>

			<div class="col-sm-8 gonna-put-it-on-top">
					
				<%= render 'discover/stream_tracks' %> <!-- USERS PROFILE TRACKS -->

			</div> <!-- col-sm-8 -->






				<!-- =========== FIXED SIDE BAR =========== -->
			<div class="col-sm-4">
				<div class="overeverything box-shadow--16dp">
					
					
				</div> <!-- over everything -->
			</div> <!-- col-lg-4 -->
				<!-- =========== FIXED SIDE BAR =========== -->

		</div> <!-- row -->
	</div>